@charset "UTF-8";
/*Declaracion de Mixin sin parámetro*/
/*IMPLEMENTACION DE PARCIALES*/
/*USO DE VARIABLES*/
/*VARIABLES GLOBALES*/
/*Generación de mapa, el mismo se aplica en todas las partes donde se utilizan colores*/
/* PERSONALIZAMOS LA NAVBAR DE BOOTSTRAP*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
#navbarSupportedContent {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.encabezado {
  background-image: radial-gradient(#00ab9a, #033966);
  border-bottom: solid 1px #00000033;
  /*Utilización de map-get*/
  color: black;
  /*Implementacion de mixin*/
  /*ANIMACION DE APARECER*/
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
}

.encabezado img {
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.encabezado img:hover {
  -webkit-transform: scale(1.3, 1.3);
          transform: scale(1.3, 1.3);
}

.encabezado span {
  text-transform: uppercase;
}

.encabezado span a {
  font-size: 1.3em;
  margin: 5px;
  text-align: center;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.encabezado span a:hover {
  margin-left: 20px;
  border-right: solid 1px black;
  border-left: solid 1px #00000080;
  border-radius: 5px;
  background-color: #0339664d;
  -webkit-transform: scale(1.4, 1.4);
          transform: scale(1.4, 1.4);
  color: white !important;
}

.encabezado__nav__ul li {
  margin: 5px;
  text-transform: uppercase;
  color: black;
  border-left: solid 1px black;
  border-right: solid 1px #00000080;
  background-color: #ffffff1a;
  border-radius: 5px;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  /*SE AGREGA TRANSICION A LA TRANSFORMACION DE LOS LI DEL MENU*/
  /*Implementacion de mixin*/
  /*ANIMACION DE APARECER*/
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
}

.encabezado__nav__ul li:hover {
  /* COMBINACION DE & Y NESTING(ANIDACION) */
  border-right: solid 1px black;
  border-left: solid 1px #00000080;
  background-color: #0339664d;
  -webkit-transform: scale(1.4, 1.4);
          transform: scale(1.4, 1.4);
  /*SE AGREGA TRANSFORMACION A LOS LI DEL MENU*/
}

.encabezado__nav__ul li:hover a {
  color: white !important;
}

@media screen and (max-width: 992px) {
  .encabezado__nav li a {
    text-align: center;
  }
  a {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    line-height: 25px;
    text-decoration: none;
    color: black;
  }
  a:hover {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    text-decoration: none;
    color: white;
  }
}

@media screen and (max-width: 480px) {
  .encabezado__menu {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 1%;
  }
  a {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    line-height: 25px;
    text-decoration: none;
    color: black;
  }
  a:hover {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    text-decoration: none;
    color: white;
  }
}

.principal {
  background-image: radial-gradient(#00ab9a, #033966);
  /*SE AGREGA GRADIENTE AL PROYECTO*/
  padding: 3% 0.5em 3% 0.5em;
  /*ANIMACION DE APARECER*/
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
}

.principal__primero,
.principal__primero__c {
  background-color: #ffffff1a;
  border: solid #00000033 1px;
  border-radius: 15px;
  color: black;
  margin-bottom: 5%;
  padding: 2%;
}

.principal__primero h1,
.principal__primero__c h1 {
  text-transform: uppercase;
  font-size: 4.5em;
  margin-bottom: 5%;
}

.principal__primero h2,
.principal__primero__c h2 {
  margin-bottom: 5%;
  text-transform: uppercase;
  font-size: 3em;
}

.principal__primero p,
.principal__primero__c p {
  margin-top: 2%;
  padding: 2%;
  text-align: justify;
  font-size: 1.5em;
  font-weight: lighter;
  color: black;
}

.principal__primero__c {
  margin-bottom: 5%;
  padding: 2%;
}

.principal__primero__c h1 {
  margin-bottom: 2%;
}

.principal__primero__c h2 {
  margin-bottom: 1%;
}

.principal__primero__c p {
  margin: 2%;
  padding: 0;
}

.principal__primero__c__contacto {
  background-color: #0339664d;
  border-radius: 15px;
  padding: 5%;
}

.principal__primero__c__contacto legend {
  text-transform: uppercase;
  margin-bottom: 2%;
  font-size: 1.5em;
}

.principal__primero__c__contacto label {
  font-size: 1.2em;
}

.principal__primero__c__contacto input,
.principal__primero__c__contacto textarea {
  padding: 1%;
  margin-bottom: 2%;
  border-radius: 5px;
  width: 100%;
}

.principal__primero__c__contacto button {
  width: 20%;
  border-radius: 5px;
}

.principal__segundo {
  background-color: #ffffff1a;
  border: solid #00000033 1px;
  border-radius: 15px;
  color: black;
  padding: 0.5em;
}

.principal__segundo h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.2em;
  margin: 2% auto 2% auto;
}

.principal__segundo article {
  margin: 2% auto 2% auto;
  padding: 0.25%;
  border-radius: 15px;
  background-color: #0339664d;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.principal__segundo article h4 {
  text-align: center;
  font-size: 1.4em;
}

.principal__segundo article p {
  font-size: 1.2em;
  font-weight: lighter;
  color: white;
}

.principal__segundo article:hover {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
  z-index: 2;
  background-color: #ffffffb3;
}

.principal__segundo article:hover p {
  color: black;
}

.principal__segundo p {
  margin-top: 2%;
  padding: 2%;
  text-align: left;
  font-size: 1.5em;
  color: black;
}

@media screen and (max-width: 992px) {
  .principal {
    padding: 5% 1em 5% 1em;
  }
  .principal__primero {
    color: black;
    margin-bottom: 5%;
    padding: 2%;
  }
  .principal__primero h1 {
    text-transform: uppercase;
    font-size: 3.5em;
    margin-bottom: 5%;
  }
  .principal__primero h2 {
    margin-bottom: 5%;
    text-transform: uppercase;
    font-size: 2em;
  }
  .principal__primero p {
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 2%;
    text-align: justify;
    font-size: 1.2em;
    color: black;
  }
}

@media screen and (max-width: 480px) {
  .principal__primero {
    color: black;
    margin-bottom: 5%;
    padding: 2%;
  }
  .principal__primero h1 {
    text-transform: uppercase;
    font-size: 2.5em;
    margin-bottom: 5%;
  }
  .principal__primero h2 {
    margin-bottom: 5%;
    text-transform: uppercase;
    font-size: 1.5em;
  }
  .principal__primero p {
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 2%;
    text-align: justify;
    font-size: 1.2em;
    color: black;
  }
}

.pie {
  background-image: radial-gradient(#00ab9a, #033966);
  border-top: solid 1px #00000033;
  /*Utilización de map-get*/
}

.pie_container {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pie__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pie__links h5 {
  font-size: 1em;
  margin: 10px;
  padding: 0px 5px 0 5px;
  border-left: solid black 2px;
  border-right: solid black 2px;
  border-radius: 5px;
}

.pie__mr,
.pie__mail,
.pie__mail--marder {
  font-size: 1em;
  color: black;
  margin-left: 10px;
  -ms-flex-line-pack: center;
      align-content: center;
}

/*clase extend*/
.pie__mail--marder {
  margin-right: 10px;
}

.pie__mr p,
.pie__mail p,
.pie__mail--marder p {
  margin: auto;
}

a {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  line-height: 25px;
  text-decoration: none;
  color: black;
}

a:hover {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 992px) {
  .pie__links h5 {
    border-left: solid black 2px;
    border-right: solid black 2px;
  }
  .pie__mr p,
  .pie__mail p,
  .pie__mail--marder p {
    font-size: 0.8em;
    color: black;
    margin: auto;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

@media screen and (max-width: 480px) {
  .pie__links h5 {
    border-left: solid black 2px;
    border-right: solid black 2px;
    font-size: 0.8rem;
  }
  .pie__mr p,
  .pie__mail p,
  .pie__mail--marder p {
    font-size: 0.7em;
    color: black;
    margin: auto;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: radial-gradient(#00ab9a, #033966);
}

iframe,
img {
  border-radius: 15px !important;
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */