.principal {
  background-image: radial-gradient(
    map-get($color, verde),
    map-get($color, azul)
  ); /*SE AGREGA GRADIENTE AL PROYECTO*/
  padding: 3% 0.5em 3% 0.5em;
  @include animacion;
}

.principal__primero,
.principal__primero__c {
  background-color: map-get($color, blanco-op);
  border: solid map-get($color, negro-op2) 1px;
  border-radius: 15px;
  color: map-get($color, negro);
  margin-bottom: 5%;
  padding: 2%;

  h1 {
    text-transform: uppercase;
    font-size: 4.5em;
    margin-bottom: 5%;
  }

  h2 {
    margin-bottom: 5%;
    text-transform: uppercase;
    font-size: 3em;
  }

  p {
    margin-top: 2%;
    padding: 2%;
    text-align: justify;
    font-size: 1.5em;
    font-weight: lighter;
    color: map-get($color, negro);
  }
}

.principal__primero__c {
  margin-bottom: 5%;
  padding: 2%;

  h1 {
    margin-bottom: 2%;
  }

  h2 {
    margin-bottom: 1%;
  }

  p {
    margin: 2%;
    padding: 0;
  }
}

.principal__primero__c__contacto {
  background-color: map-get($color, azulb);
  border-radius: 15px;
  padding: 5%;

  legend {
    text-transform: uppercase;
    margin-bottom: 2%;
    font-size: 1.5em;
  }

  label {
    font-size: 1.2em;
  }

  input,
  textarea {
    padding: 1%;
    margin-bottom: 2%;
    border-radius: 5px;
    width: 100%;
  }
  button {
    width: 20%;
    border-radius: 5px;
  }
}

.principal__segundo {
  background-color: map-get($color, blanco-op);
  border: solid map-get($color, negro-op2) 1px;
  border-radius: 15px;
  color: map-get($color, negro);
  padding: 0.5em;

  h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2.2em;
    margin: 2% auto 2% auto;
  }

  article {
    margin: 2% auto 2% auto;
    padding: 0.25%;
    border-radius: 15px;
    background-color: map-get($color, azulb);
    transition: all 500ms;
    h4 {
      text-align: center;
      font-size: 1.4em;
    }
    p {
      font-size: 1.2em;
      font-weight: lighter;
      color: map-get($color, blanco);
    }

    &:hover {
      transform: scale(1.05, 1.05);
      z-index: 2;
      background-color: map-get($color, blanco-op2);
      p {
        color: map-get($color, negro);
      }
    }
  }

  p {
    margin-top: 2%;
    padding: 2%;
    text-align: left;
    font-size: 1.5em;
    color: map-get($color, negro);
  }
}

@media screen and (max-width: 992px) {
  .principal {
    padding: 5% 1em 5% 1em;
  }

  .principal__primero {
    color: map-get($color, negro);
    margin-bottom: 5%;
    padding: 2%;

    h1 {
      text-transform: uppercase;
      font-size: 3.5em;
      margin-bottom: 5%;
    }

    h2 {
      margin-bottom: 5%;
      text-transform: uppercase;
      font-size: 2em;
    }

    p {
      margin-top: 2%;
      margin-bottom: 2%;
      padding: 2%;
      text-align: justify;
      font-size: 1.2em;
      color: map-get($color, negro);
    }
  }
}

@media screen and (max-width: 480px) {
  .principal__primero {
    color: map-get($color, negro);
    margin-bottom: 5%;
    padding: 2%;

    h1 {
      text-transform: uppercase;
      font-size: 2.5em;
      margin-bottom: 5%;
    }

    h2 {
      margin-bottom: 5%;
      text-transform: uppercase;
      font-size: 1.5em;
    }

    p {
      margin-top: 2%;
      margin-bottom: 2%;
      padding: 2%;
      text-align: justify;
      font-size: 1.2em;
      color: map-get($color, negro);
    }
  }
}
