/*USO DE VARIABLES*/

/*VARIABLES GLOBALES*/
/*Generación de mapa, el mismo se aplica en todas las partes donde se utilizan colores*/
$color: (
  azul: #033966,
  azulb: #0339664d,
  verde: #00ab9a,
  negro: black,
  blanco: white,
  negro-op: #00000080,
  negro-op2: #00000033,
  blanco-op: #ffffff1a,
  blanco-op2: #ffffffb3,
);
