/*USO DE VARIABLES*/

/*VARIABLES GLOBALES*/

$c-violeta: #93559e;
$c-verde: #00776b;
$c-negro: black;
$c-blanco: white;
$c-negro-op:#00000080;
$c-negro-op2:#00000033;
$c-blanco-op:#ffffff1a;
$c-blanco-op2:#ffffffb3;
