/*USO DE VARIABLES*/

/*VARIABLES GLOBALES*/
/*Generación de mapa, el mismo se aplica en todas las partes donde se utilizan colores*/
$color: (
  violeta: #93559e,
  verde: #00776b,
  negro: black,
  blanco: white,
  negro-op: #00000080,
  negro-op2: #00000033,
  blanco-op: #ffffff1a,
  blanco-op2: #ffffffb3,
);
